<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="lib/spectre.min.css">
    <link rel="stylesheet" href="lib/spectre-exp.min.css">
    <link rel="stylesheet" href="lib/spectre-icons.min.css">
    <link rel="stylesheet" href="lib/auth.css">
    <script defer src="lib/vue.global.prod.js" type="application/ecmascript"></script>
    <script defer src="lib/auth.js" type="application/ecmascript"></script>
</head>
<body>

<div class="container">
    <div id="app">
        <div v-if="loaded" v-cloak>
            <div class="card" v-if="screen === 'authenticated'">
                <div class="card-header text-center">
                    <div class="card-title h1">Успешный вход</div>
                    <div class="card-subtitle text-gray">Данные авторизационной сессии</div>
                </div>

                <div class="card-image">
                    <div class="image-locker">
                        <span>👤</span>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td>Имя</td>
                            <td>{{ authenticated.user.displayName }}</td>
                        </tr>
                        <tr>
                            <td>Тип</td>
                            <td>{{ authenticated.user.type }}</td>
                        </tr>
                        <tr>
                            <td>Почта</td>
                            <td><a :href="`mailto:${authenticated.user.email}`">{{ authenticated.user.email }}</a></td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>
                                <a :href="`tel:${authenticated.user.phoneFormatted}`">
                                    {{ authenticated.user.phoneFormatted }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">- - -</td>
                        </tr>
                        <tr>
                            <td>Авторизован до</td>
                            <td>{{ authenticated.session.untilFormatted }}</td>
                        </tr>
                        <tr>
                            <td>IP</td>
                            <td>{{ authenticated.session.ip }}</td>
                        </tr>
                        <tr>
                            <td>User-Agent</td>
                            <td>{{ authenticated.session.userAgent }}</td>
                        </tr>
                    </table>
                </div>

                <div class="card-footer">
                    <button class="btn float-right" @click.prevent="signOut()">
                        Выйти
                    </button>
                </div>
            </div>

            <div class="card" v-if="screen === 'login'">
                <form class="form-horizontal" @submit.prevent="onSubmitLogin">
                    <div class="card-header text-center">
                        <div class="card-title h1">Вход по паролю</div>
                        <div class="card-subtitle text-gray">Пожалуйста, введите логин и пароль</div>
                    </div>

                    <div class="card-image">
                        <div class="image-locker">
                            <span>🔐</span>
                        </div>
                    </div>

                    <div class="card-body">
                        <fieldset :disabled="request.loading">
                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.username,
                                'has-success': validation.enabled && !validation.errors.username
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left">
                                        <input type="text" name="username" class="form-input input-lg"
                                               placeholder="Телефон или почта" aria-label="Логин"
                                               v-model="input.username" @input="onInput" required>
                                        <i class="form-icon text-gray icon icon-people"></i>
                                    </div>
                                    <div>
                                        <p class="form-input-hint">{{ validation.errors.username }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.password,
                                'has-success': validation.enabled && !validation.errors.password
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left">
                                        <input type="password" name="password" class="form-input input-lg"
                                               placeholder="Пароль" aria-label="Пароль"
                                               v-model="input.password" @input="onInput" required>
                                        <i class="form-icon text-gray icon icon-people"></i>
                                    </div>
                                    <div>
                                        <p class="form-input-hint">{{ validation.errors.password }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-switch">
                                    <input type="checkbox" name="remember" aria-label="Запомнить меня"
                                           v-model="input.remember" checked>
                                    <i class="form-icon"></i> Запомнить меня
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer">
                        <div class="full-width">
                            <input type="submit" value="Войти" class="btn btn-primary auth-submit"
                                   :class="{loading: request.loading}" :disabled="validation.failed">
                            <button class="btn float-right" @click.prevent="screen = 'loginByCode'">
                                Войти по коду
                            </button>
                        </div>
                        <div class="full-width">
                            <div>&nbsp;</div>
                            <buton class="btn btn-link float-right" @click.prevent="screen = 'resetPassword'">
                                Не помню пароль
                            </buton>
                            <button class="btn btn-link float-right" @click.prevent="screen = 'changePassword'">
                                Сменить пароль
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card" v-if="screen === 'loginByCode'">
                <div class="card-header text-center">
                    <div class="card-title h1">Вход по коду</div>
                    <div class="card-subtitle text-gray">Пожалуйста, введите логин и пароль</div>
                </div>

                <div class="card-image">
                    <div class="image-locker">
                        <span>🔐</span>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form-horizontal" @submit.prevent="onSubmitGenerateCode">
                        <fieldset :disabled="request.loading">
                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.username,
                                'has-success': validation.enabled && !validation.errors.username
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left input-group">
                                        <input type="text" name="username" class="form-input input-lg"
                                               placeholder="Телефон или почта" aria-label="Логин"
                                               v-model="input.username" @input="onInput" required
                                               :disabled="loginByCode.timer !== 0">
                                        <i class="form-icon text-gray icon icon-people"></i>
                                        <button class="btn btn-lg btn-primary input-group-btn" type="submit"
                                                :disabled="loginByCode.timer !== 0">
                                            {{ loginByCode.timer === 0 ?
                                            'Выслать код' : formatTimer(loginByCode.timer) }}
                                        </button>
                                    </div>
                                    <p class="form-input-hint">{{ validation.errors.username }}</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <fieldset :disabled="request.loading" v-if="loginByCode.inputCode">
                        <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.code,
                                'has-success': validation.enabled && !validation.errors.code
                            }">
                            <div class="full-width">
                                <div class="has-icon-left">
                                    <input type="text" name="code" class="form-input input-lg"
                                           placeholder="Код" aria-label="Код"
                                           v-model="input.code" @input="onInput" required>
                                    <i class="form-icon text-gray icon icon-mail"></i>
                                </div>
                                <div>
                                    <p class="form-input-hint">{{ validation.errors.code }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-switch">
                                <input type="checkbox" name="remember" aria-label="Запомнить меня"
                                       v-model="input.remember" checked>
                                <i class="form-icon"></i> Запомнить меня
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary auth-submit" :class="{loading: request.loading}"
                            :disabled="validation.failed || !loginByCode.inputCode" @click="onSubmitLoginByCode">
                        Войти
                    </button>
                    <button class="btn float-right" @click.prevent="screen = 'login'">
                        Войти по паролю
                    </button>
                </div>
            </div>

            <div class="card" v-if="screen === 'resetPassword'">
                <div class="card-header text-center">
                    <div class="card-title h1">Не помню пароль</div>
                    <div class="card-subtitle text-gray">Пожалуйста, введите логин</div>
                </div>

                <div class="card-image">
                    <div class="image-locker">
                        <span>🕰️</span>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form-horizontal" @submit.prevent="onSubmitResetPassword">
                        <fieldset :disabled="request.loading">
                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.username,
                                'has-success': validation.enabled && !validation.errors.username
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left input-group">
                                        <input type="text" name="username" class="form-input input-lg"
                                               placeholder="Телефон или почта" aria-label="Логин"
                                               v-model="input.username" @input="onInput" required
                                               :disabled="resetPassword.timer !== 0">
                                        <i class="form-icon text-gray icon icon-people"></i>
                                        <button class="btn btn-lg btn-primary input-group-btn" type="submit"
                                                :disabled="resetPassword.timer !== 0">
                                            {{ resetPassword.timer === 0 ?
                                            'Выслать код' : formatTimer(resetPassword.timer) }}
                                        </button>
                                    </div>
                                    <p class="form-input-hint">{{ validation.errors.username }}</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <fieldset :disabled="request.loading" v-if="resetPassword.inputHash">
                        <div class="form-group" :class="{
                            'has-error': validation.enabled && validation.errors.password,
                            'has-success': validation.enabled && !validation.errors.password
                        }">
                            <div class="full-width">
                                <div class="has-icon-left">
                                    <input type="text" name="hash" class="form-input input-lg"
                                           placeholder="Код сброса" aria-label="Код сброса"
                                           v-model="input.passwordResetHash" @input="onInput" required>
                                    <i class="form-icon text-gray icon icon-people"></i>
                                </div>
                                <div>
                                    <p class="form-input-hint">{{ validation.errors.passwordResetHash }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.password,
                                'has-success': validation.enabled && !validation.errors.password
                            }">
                            <div class="full-width">
                                <div class="has-icon-left">
                                    <input type="password" name="password" class="form-input input-lg"
                                           placeholder="Новый пароль" aria-label="Новый пароль"
                                           v-model="input.password" @input="onInput" required>
                                    <i class="form-icon text-gray icon icon-people"></i>
                                </div>
                                <div>
                                    <p class="form-input-hint">{{ validation.errors.password }}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary auth-submit" :class="{loading: request.loading}"
                            :disabled="validation.failed || !resetPassword.inputHash" @click="onSubmitNewPassword">
                        Сменить пароль
                    </button>
                    <button class="btn float-right" @click.prevent="screen = 'login'">
                        Авторизоваться с логином
                    </button>
                </div>
            </div>

            <div class="card" v-if="screen === 'changePassword'">
                <div class="card-header text-center">
                    <div class="card-title h1">Сменить пароль</div>
                    <div class="card-subtitle text-gray">Пожалуйста, введите логин, старый пароль и новый пароль</div>
                </div>

                <div class="card-image">
                    <div class="image-locker">
                        <span>🗝️</span>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form-horizontal" @submit.prevent="onSubmitChangePassword">
                        <fieldset :disabled="request.loading">
                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.username,
                                'has-success': validation.enabled && !validation.errors.username
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left input-group">
                                        <input type="text" name="username" class="form-input input-lg"
                                               placeholder="Телефон или почта" aria-label="Логин"
                                               v-model="input.username" @input="onInput" required>
                                        <i class="form-icon text-gray icon icon-people"></i>
                                    </div>
                                    <p class="form-input-hint">{{ validation.errors.username }}</p>
                                </div>
                            </div>

                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.password,
                                'has-success': validation.enabled && !validation.errors.password
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left">
                                        <input type="password" name="oldPassword" class="form-input input-lg"
                                               placeholder="Старый пароль" aria-label="Старый пароль"
                                               v-model="input.oldPassword" @input="onInput" required>
                                        <i class="form-icon text-gray icon icon-people"></i>
                                    </div>
                                    <div>
                                        <p class="form-input-hint">{{ validation.errors.oldPassword }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" :class="{
                                'has-error': validation.enabled && validation.errors.password,
                                'has-success': validation.enabled && !validation.errors.password
                            }">
                                <div class="full-width">
                                    <div class="has-icon-left">
                                        <input type="password" name="newPassword" class="form-input input-lg"
                                               placeholder="Новый пароль" aria-label="Новый пароль"
                                               v-model="input.newPassword" @input="onInput" required>
                                        <i class="form-icon text-gray icon icon-people"></i>
                                    </div>
                                    <div>
                                        <p class="form-input-hint">{{ validation.errors.newPassword }}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary auth-submit" :class="{loading: request.loading}"
                            :disabled="validation.failed" @click="onSubmitChangePassword">
                        Сменить пароль
                    </button>
                    <button class="btn float-right" @click.prevent="screen = 'login'">
                        Авторизоваться с логином
                    </button>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="loading loading-lg"></div>
        </div>


        <div class="modals">
            <div class="modal modal-lg modal-server-error" :class="{active: modals.serverError}">
                <a class="modal-overlay" href="#" aria-label="Close"></a>
                <div class="modal-container" role="document">
                    <div class="modal-header">
                        <a class="btn btn-clear float-right" href="#" aria-label="Закрыть"
                           @click="(modals.serverError = false)"></a>
                        <div class="modal-title h5">Ошибка на сервере</div>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <blockquote>
                                <p class="text-error">{{ request.error }}</p>
                                <cite>- Server</cite>
                            </blockquote>
                            <p>Попробуйте авторизоваться ещё раз чуть позже</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-link" href="#" @click="(modals.serverError = false)">Закрыть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>