openapi: 3.0.0
info:
  version: 1.1.1
  title: gateway
  description: API Gateway and API Composition service for Cargo
  termsOfService: http://swagger.io/terms/
servers:
  - url: https://gateway.cargo.b-resh.ru
    description: API on staging environment
  - url: https://gateway.services.localhost
    description: API on local infra
  - url: http://localhost:8000
    description: API on local debug
tags:
  - name: auth
    description: Авторизация
paths:
  /api/1/auth/check:
    summary: >-
      Получение текущих данных по пользователю и авторизационной сессии, если
      последняя активна
    description: >
      Возвращает данные текущего авторизованного пользователя и данные его
      авторизационной сессии. Если активной авторизационной сессии нет, то
      вернёт пустые данные.
    parameters:
      - name: authToken
        description: Auth token from Query
        in: query
        required: false
        schema: &ref_1
          type: string
          description: Авторизационный токен для пользовательской сессии
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzZXJ2aWNlLGF1dGgiLCJleHAiOjc5NTOxMTU3NDJ9.vNkWaAqvTUtgzVSAhJJDJ90QLpBIMlYd_8keQb1qVH8
    get:
      tags:
        - auth
      security:
        - BearerAuth: {}
      operationId: GetAuthCheck
      responses:
        '200':
          description: Ответ в случае активной авторизационной сессии
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - user
                  - session
                properties:
                  user:
                    type: object
                    additionalProperties: false
                    description: Данные об авторизованном пользователе
                    required:
                      - type
                      - displayName
                    properties:
                      type:
                        type: string
                        description: Тип пользователя из набора (admin|dispatcher|driver)
                        example: dispatcher
                      displayName:
                        type: string
                        description: Отображаемое имя пользователя
                        example: Петров Иван Васильевич
                      email:
                        type: string
                        description: Электронная почта
                        example: petrov.iv@logistics.example
                      phone:
                        type: string
                        description: >-
                          Российский номер мобильного телефона в формате
                          9009009090
                        example: 9009009090
                  session:
                    type: object
                    additionalProperties: false
                    description: Данные авторизационной сессии
                    required:
                      - until
                    properties:
                      until: &ref_2
                        type: string
                        format: date-time
                        description: Время по UTC, до которого сессия активна
                        example: 2022-09-17T22:17:17.958Z
                      ip:
                        type: string
                        description: IP-адрес
                        example: 119.232.73.137
                      userAgent:
                        type: string
                        description: User-Agent
                        example: >-
                          Mozilla/5.0 (Windows NT 10.0; Win64; x64)
                          AppleWebKit/537.36 (KHTML, like Gecko)
                          Chrome/104.0.0.0 Safari/537.36
                      deviceId:
                        type: string
                        description: >-
                          Возможный DeviceID если запрос пришёл от мобильного
                          устройства
                        example: 365C96E6-B22A-41FA-B569-BAF68E5F60FE
        '400': &ref_3
          description: 400 Bad Request
          content:
            application/json:
              schema: &ref_0
                type: object
                additionalProperties: false
                required:
                  - error
                properties:
                  error:
                    type: object
                    additionalProperties: false
                    required:
                      - code
                      - reason
                      - message
                    properties:
                      code:
                        description: Error code
                        type: integer
                        example: 500
                      reason:
                        description: Typed reason of error
                        type: string
                        example: auth_error
                      message:
                        description: Error message
                        type: string
                        example: There is something wrong
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema: *ref_0
        '429':
          description: 429 Too Many Requests
          content:
            application/json:
              schema: *ref_0
        '500': &ref_4
          description: 500 Internal Server Error
          content:
            application/json:
              schema: *ref_0
  /api/1/auth/login:
    summary: Авторизация по логину и паролю
    description: >
      Принимает логин (он же username, он же номер телефона или адрес
      электронной почты). В случае успеха вернёт авторизационный токен.
    post:
      tags:
        - auth
      operationId: PostAuthLogin
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - username
                - password
              properties:
                username: &ref_5
                  type: string
                  description: >-
                    Номер телефона (в произвольной форме) или адрес электронной
                    почты
                  x-oapi-codegen-extra-tags:
                    validate: required,min=3,max=255
                    form: username
                  example:
                    - 9009009090
                    - 79009009090
                    - 89009009090
                    - +7 900 900 90 90
                    - +7_[900]_900-90-90
                    - john@dohn.example
                password: &ref_9
                  type: string
                  description: Пароль пользователя — от 8 до 255 символов
                  x-oapi-codegen-extra-tags:
                    validate: required,min=8,max=255
                  format: password
                  example: qwertyui
                remember: &ref_6
                  type: boolean
                  description: >-
                    Опция "Запомнить меня" — сохранять ли авторизационную сессию
                    надолго
                  x-oapi-codegen-extra-tags:
                    validate: omitempty,boolean
                    form: remember
      responses:
        '200': &ref_7
          description: Ответ в случае успешной аутентификации
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - token
                  - until
                properties:
                  token: *ref_1
                  until: *ref_2
        '400': *ref_3
        '500': *ref_4
  /api/1/auth/generateCode:
    summary: Отправка одноразового кода авторизации
    description: >
      Принимает логин (он же username, он же номер телефона или адрес
      электронной почты). Генерирует кратковременный одноразовый код авторизации
      и отправляет его на телефон или почту пользователя.
    post:
      tags:
        - auth
      operationId: PostGenerateCode
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - username
              properties:
                username: *ref_5
      responses:
        '204': &ref_8
          description: Ответ в случае успеха без возвращаемых данных
          content:
            application/json:
              schema:
                description: Данные отсутствуют
        '400': *ref_3
        '500': *ref_4
  /api/1/auth/loginByCode:
    summary: Авторизация по логину и одноразовому коду
    description: >
      Принимает логин (он же username, он же номер телефона или адрес
      электронной почты) и одноразовый код. В случае успеха вернёт
      авторизационный токен.
    post:
      tags:
        - auth
      operationId: PostAuthLoginByCode
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - username
                - code
              properties:
                username: *ref_5
                code:
                  type: string
                  description: Одноразовый код авторизации
                  x-oapi-codegen-extra-tags:
                    validate: required,min=3,max=255
                  example: 8093
                remember: *ref_6
      responses:
        '200': *ref_7
        '400': *ref_3
        '500': *ref_4
  /api/1/auth/resetPassword:
    summary: >-
      Сброс пароля с отправкой хэша (или ссылки установки нового пароля)
      уведомлением пользователю
    description: >
      Принимает логин (он же username, он же номер телефона или адрес
      электронной почты). В случае успеха вернёт пустой ответ.
    post:
      tags:
        - auth
      operationId: PostResetPassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - username
              properties:
                username: *ref_5
      responses:
        '204': *ref_8
        '400': *ref_3
        '500': *ref_4
  /api/1/auth/newPassword:
    summary: Установка нового пароля с помощью хэшкода или ссылки сброса пароля
    description: >
      Принимает логин (он же username, он же номер телефона или адрес
      электронной почты) и код сброса пароля. В случае успеха вернёт пустой
      ответ.
    post:
      tags:
        - auth
      operationId: PostNewPassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - username
                - passwordResetHash
                - password
              properties:
                username: *ref_5
                passwordResetHash:
                  type: string
                  description: Код сброса пароля
                  x-oapi-codegen-extra-tags:
                    validate: required,min=3,max=255
                  example: h98d64
                password: *ref_9
      responses:
        '204': *ref_8
        '400': *ref_3
        '500': *ref_4
  /api/1/auth/changePassword:
    summary: Установка нового пароля с вводом старого пароля
    description: >
      Принимает логин (он же username, он же номер телефона или адрес
      электронной почты), старый и новый пароли. В случае успеха вернёт пустой
      ответ.
    post:
      tags:
        - auth
      operationId: PostChangePassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - username
                - oldPassword
                - newPassword
              properties:
                username: *ref_5
                oldPassword: *ref_9
                newPassword: *ref_9
      responses:
        '204': *ref_8
        '400': *ref_3
        '500': *ref_4
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
